In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/eJ5zayg0OnnX5PqMvAR8KQd9p/titanicmod.csv')
df1 = df[df.isnull().sum(axis=1) > 2]

In [8]:
df1

Empty DataFrame
Columns: [PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Year, Ship, Movie Director]
Index: []

In [25]:
nunique = df.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
df2=df.drop(cols_to_drop, axis=1)
print(df2)

     PassengerId  Pclass                                               Name  \
0       0.000000     1.0                                   Kelly, Mr. James
1       0.002398     1.0                   Wilkes, Mrs. James (Ellen Needs)
2       0.004796     0.5                          Myles, Mr. Thomas Francis
3       0.007194     1.0                                   Wirz, Mr. Albert
4       0.009592     1.0       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5       0.011990     1.0                         Svensson, Mr. Johan Cervin
6       0.014388     1.0                               Connolly, Miss. Kate
7       0.016787     0.5                       Caldwell, Mr. Albert Francis
8       0.019185     1.0          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9       0.021583     1.0                            Davies, Mr. John Samuel
10      0.023981     1.0                                   Ilieff, Mr. Ylio
11      0.026379     0.0                         Jones, Mr. Charles Cresson
12      0.028777     0.0      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13      0.031175     0.5                               Howard, Mr. Benjamin
14      0.033573     0.0  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15      0.035971     0.5      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16      0.038369     0.5                                  Keane, Mr. Daniel
17      0.040767     1.0                                  Assaf, Mr. Gerios
18      0.043165     1.0                       Ilmakangas, Miss. Ida Livija
19      0.045564     1.0              Assaf Khalil, Mrs. Mariana (Miriam")"
20      0.047962     0.0                             Rothschild, Mr. Martin
21      0.050360     1.0                          Olsen, Master. Artur Karl
22      0.052758     0.0               Flegenheim, Mrs. Alfred (Antoinette)
23      0.055156     0.0                    Williams, Mr. Richard Norris II
24      0.057554     0.0    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25      0.059952     1.0                            Robins, Mr. Alexander A
26      0.062350     0.0                       Ostby, Miss. Helene Ragnhild
27      0.064748     1.0                                  Daher, Mr. Shedid
28      0.067146     0.0                            Brady, Mr. John Bertram
29      0.069544     1.0                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388     0.930456     1.0                               Canavan, Mr. Patrick
389     0.932854     1.0                        Palsson, Master. Paul Folke
390     0.935252     0.0                         Payne, Mr. Vivian Ponsonby
391     0.937650     0.0     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392     0.940048     1.0                      Abbott, Master. Eugene Joseph
393     0.942446     0.5                               Gilbert, Mr. William
394     0.944844     1.0                           Kink-Heilmann, Mr. Anton
395     0.947242     0.0     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396     0.949640     1.0                               Colbert, Mr. Patrick
397     0.952038     0.0  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398     0.954436     1.0                     Larsson-Rondberg, Mr. Edvard A
399     0.956835     1.0                           Conlon, Mr. Thomas Henry
400     0.959233     0.0                            Bonnell, Miss. Caroline
401     0.961631     0.5                                    Gale, Mr. Harry
402     0.964029     0.0                     Gibson, Miss. Dorothy Winifred
403     0.966427     0.0                             Carrau, Mr. Jose Pedro
404     0.968825     0.0                       Frauenthal, Mr. Isaac Gerald
405     0.971223     0.5       Nourney, Mr. Alfred (Baron von Drachstedt")"
406     0.973621     0.5                          Ware, Mr. William Jeffery
407     0.976019     0.0                         Widener, Mr. George Dunton
408     0.978417     1.0                    Riordan, Miss. Johanna Hannah""
409     0.980815     1.0                          Peacock, Miss. Treasteall
410     0.983213     1.0                             Naughton, Miss. Hannah
411     0.985612     0.0    Minahan, Mrs. William Edward (Lillian E Thorpe)
412     0.988010     1.0                     Henriksson, Miss. Jenny Lovisa
413     0.990408     1.0                                 Spector, Mr. Woolf
414     0.992806     0.0                       Oliva y Ocana, Dona. Fermina
415     0.995204     1.0                       Saether, Mr. Simon Sivertsen
416     0.997602     1.0                                Ware, Mr. Frederick
417     1.000000     1.0                           Peter, Master. Michael J

        Sex       Age  SibSp     Parch              Ticket      Fare  \
0      male  0.452723  0.000  0.000000              330911  0.015282
1    female  0.617566  0.125  0.000000              363272  0.013663
2      male  0.815377  0.000  0.000000              240276  0.018909
3      male  0.353818  0.000  0.000000              315154  0.016908
4    female  0.287881  0.125  0.111111             3101298  0.023984
5      male  0.182382  0.000  0.000000                7538  0.018006
6    female  0.393380  0.000  0.000000              330972  0.014891
7      male  0.340630  0.125  0.111111              248738  0.056604
8    female  0.235131  0.000  0.000000                2657  0.014110
9      male  0.274693  0.250  0.000000           A/4 48871  0.047138
10     male       NaN  0.000  0.000000              349220  0.015412
11     male  0.604378  0.000  0.000000                 694  0.050749
12   female  0.301068  0.125  0.000000               21228  0.160574
13     male  0.828564  0.125  0.000000               24065  0.050749
14   female  0.617566  0.125  0.000000         W.E.P. 5734  0.119406
15   female  0.314256  0.125  0.000000       SC/PARIS 2167  0.054107
16     male  0.459317  0.000  0.000000              233734  0.024106
17     male  0.274693  0.000  0.000000                2692  0.014102
18   female  0.353818  0.125  0.000000    STON/O2. 3101270  0.015469
19   female  0.591191  0.000  0.000000                2696  0.014102
20     male  0.723065  0.125  0.000000            PC 17603  0.115941
21     male  0.116445  0.000  0.111111             C 17368  0.006189
22   female       NaN  0.000  0.000000            PC 17598  0.061842
23     male  0.274693  0.000  0.111111            PC 17597  0.119804
24   female  0.630753  0.125  0.333333            PC 17608  0.512122
25     male  0.657128  0.125  0.000000           A/5. 3337  0.028302
26   female  0.287881  0.000  0.111111              113509  0.120975
27     male  0.294474  0.000  0.000000                2698  0.014102
28     male  0.538441  0.000  0.000000              113054  0.059532
29     male       NaN  0.250  0.000000                2662  0.042315
..      ...       ...    ...       ...                 ...       ...
388    male  0.274693  0.000  0.000000              364858  0.015127
389    male  0.076883  0.375  0.111111              349909  0.041136
390    male  0.301068  0.000  0.000000               12749  0.182500
391  female  0.670315  0.000  0.111111            PC 17592  0.076904
392    male  0.169194  0.000  0.222222           C.A. 2673  0.039525
393    male  0.617566  0.000  0.000000          C.A. 30769  0.020495
394    male  0.380193  0.375  0.111111              315153  0.042990
395  female  0.235131  0.125  0.000000               13695  0.117112
396    male  0.314256  0.000  0.000000              371109  0.014151
397  female  0.630753  0.125  0.111111               13567  0.154588
398    male  0.287881  0.000  0.000000              347065  0.015176
399    male  0.406567  0.000  0.000000               21332  0.015094
400  female  0.393380  0.000  0.000000               36928  0.321798
401    male  0.498879  0.125  0.000000               28664  0.040989
402  female  0.287881  0.000  0.111111              112378  0.115941
403    male  0.221944  0.000  0.000000              113059  0.091933
404    male  0.564816  0.125  0.000000               17765  0.054107
405    male  0.261506  0.000  0.000000       SC/PARIS 2166  0.027058
406    male  0.301068  0.125  0.000000               28666  0.020495
407    male  0.657128  0.125  0.111111              113503  0.412821
408  female       NaN  0.000  0.000000              334915  0.015070
409  female  0.037320  0.125  0.111111  SOTON/O.Q. 3101315  0.026887
410  female       NaN  0.000  0.000000              365237  0.015127
411  female  0.485692  0.125  0.000000               19928  0.175668
412  female  0.367005  0.000  0.000000              347086  0.015176
413    male       NaN  0.000  0.000000           A.5. 3236  0.015713
414  female  0.512066  0.000  0.000000            PC 17758  0.212559
415    male  0.505473  0.000  0.000000  SOTON/O.Q. 3101262  0.014151
416    male       NaN  0.000  0.000000              359309  0.015713
417    male       NaN  0.125  0.111111                2668  0.043640

               Cabin Embarked      Year
0                NaN        Q  0.326389
1                NaN        S  0.972222
2                NaN        Q  0.763889
3                NaN        S  0.243056
4                NaN        S  0.368056
5                NaN        S  0.256944
6                NaN        Q  0.041667
7                NaN        S  0.805556
8                NaN        C  0.729167
9                NaN        S  0.423611
10               NaN        S  0.673611
11               NaN        S  0.243056
12               B45        S  0.243056
13               NaN        S  0.423611
14               E31        S  0.131944
15               NaN        C  0.458333
16               NaN        Q  1.000000
17               NaN        C  0.979167
18               NaN        S  0.111111
19               NaN        C  0.645833
20               NaN        C  0.583333
21               NaN        S  0.576389
22               NaN        S  0.888889
23               NaN        C  0.791667
24   B57 B59 B63 B66        C  0.750000
25               NaN        S  0.777778
26               B36        C  0.826389
27               NaN        C  0.069444
28               A21        S  0.236111
29               NaN        C  0.722222
..               ...      ...       ...
388              NaN        Q  0.159722
389              NaN        S  0.951389
390              B24        S  0.111111
391              D28        S  0.187500
392              NaN        S  0.881944
393              NaN        S  0.562500
394              NaN        S  1.000000
395              C31        S  0.388889
396              NaN        Q  0.388889
397              B41        C  0.256944
398              NaN        S  0.486111
399              NaN        Q  0.166667
400               C7        S  0.194444
401              NaN        S  0.736111
402              NaN        C  0.868056
403              NaN        S  0.458333
404              D40        C  0.916667
405              D38        C  0.527778
406              NaN        S  0.833333
407              C80        C  0.875000
408              NaN        Q  0.298611
409              NaN        S  0.388889
410              NaN        Q  0.472222
411              C78        Q  0.069444
412              NaN        S  0.319444
413              NaN        S  0.680556
414             C105        C  0.118056
415              NaN        S  0.847222
416              NaN        S  0.465278
417              NaN        C  0.034722

[418 rows x 12 columns]

In [24]:
df3 = df.select_dtypes(include=['int', 'float'])
#print(df3.columns)
colsToPass = df3.columns

In [16]:
df[colsToPass]=df[colsToPass].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [17]:
print(df.describe())

       PassengerId      Pclass         Age       SibSp       Parch  \
count   418.000000  418.000000  332.000000  418.000000  418.000000
mean      0.500000    0.632775    0.396975    0.055921    0.043594
std       0.289713    0.420919    0.187013    0.112095    0.109048
min       0.000000    0.000000    0.000000    0.000000    0.000000
25%       0.250000    0.000000    0.274693    0.000000    0.000000
50%       0.500000    1.000000    0.353818    0.000000    0.000000
75%       0.750000    1.000000    0.512066    0.125000    0.000000
max       1.000000    1.000000    1.000000    1.000000    1.000000

             Fare        Year
count  417.000000  418.000000
mean     0.069540    0.496860
std      0.109124    0.299910
min      0.000000    0.000000
25%      0.015412    0.229167
50%      0.028213    0.479167
75%      0.061484    0.769097
max      1.000000    1.000000

In [20]:
df.Year

0      0.326389
1      0.972222
2      0.763889
3      0.243056
4      0.368056
5      0.256944
6      0.041667
7      0.805556
8      0.729167
9      0.423611
10     0.673611
11     0.243056
12     0.243056
13     0.423611
14     0.131944
15     0.458333
16     1.000000
17     0.979167
18     0.111111
19     0.645833
20     0.583333
21     0.576389
22     0.888889
23     0.791667
24     0.750000
25     0.777778
26     0.826389
27     0.069444
28     0.236111
29     0.722222
         ...
388    0.159722
389    0.951389
390    0.111111
391    0.187500
392    0.881944
393    0.562500
394    1.000000
395    0.388889
396    0.388889
397    0.256944
398    0.486111
399    0.166667
400    0.194444
401    0.736111
402    0.868056
403    0.458333
404    0.916667
405    0.527778
406    0.833333
407    0.875000
408    0.298611
409    0.388889
410    0.472222
411    0.069444
412    0.319444
413    0.680556
414    0.118056
415    0.847222
416    0.465278
417    0.034722
Name: Year, Length: 418, dtype: float64

In [21]:
df = df[df.isnull().sum(axis=1) <= 5]

# look at the summary again
round(100*(df.isnull().sum()/len(df.index)), 2)

PassengerId        0.00
Pclass             0.00
Name               0.00
Sex                0.00
Age               20.57
SibSp              0.00
Parch              0.00
Ticket             0.00
Fare               0.24
Cabin             78.23
Embarked           0.00
Year               0.00
Ship               0.00
Movie Director     0.00
dtype: float64

In [23]:
df = df.drop_duplicates()
print(df)

     PassengerId  Pclass                                               Name  \
0       0.000000     1.0                                   Kelly, Mr. James
1       0.002398     1.0                   Wilkes, Mrs. James (Ellen Needs)
2       0.004796     0.5                          Myles, Mr. Thomas Francis
3       0.007194     1.0                                   Wirz, Mr. Albert
4       0.009592     1.0       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5       0.011990     1.0                         Svensson, Mr. Johan Cervin
6       0.014388     1.0                               Connolly, Miss. Kate
7       0.016787     0.5                       Caldwell, Mr. Albert Francis
8       0.019185     1.0          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9       0.021583     1.0                            Davies, Mr. John Samuel
10      0.023981     1.0                                   Ilieff, Mr. Ylio
11      0.026379     0.0                         Jones, Mr. Charles Cresson
12      0.028777     0.0      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13      0.031175     0.5                               Howard, Mr. Benjamin
14      0.033573     0.0  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15      0.035971     0.5      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16      0.038369     0.5                                  Keane, Mr. Daniel
17      0.040767     1.0                                  Assaf, Mr. Gerios
18      0.043165     1.0                       Ilmakangas, Miss. Ida Livija
19      0.045564     1.0              Assaf Khalil, Mrs. Mariana (Miriam")"
20      0.047962     0.0                             Rothschild, Mr. Martin
21      0.050360     1.0                          Olsen, Master. Artur Karl
22      0.052758     0.0               Flegenheim, Mrs. Alfred (Antoinette)
23      0.055156     0.0                    Williams, Mr. Richard Norris II
24      0.057554     0.0    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25      0.059952     1.0                            Robins, Mr. Alexander A
26      0.062350     0.0                       Ostby, Miss. Helene Ragnhild
27      0.064748     1.0                                  Daher, Mr. Shedid
28      0.067146     0.0                            Brady, Mr. John Bertram
29      0.069544     1.0                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388     0.930456     1.0                               Canavan, Mr. Patrick
389     0.932854     1.0                        Palsson, Master. Paul Folke
390     0.935252     0.0                         Payne, Mr. Vivian Ponsonby
391     0.937650     0.0     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392     0.940048     1.0                      Abbott, Master. Eugene Joseph
393     0.942446     0.5                               Gilbert, Mr. William
394     0.944844     1.0                           Kink-Heilmann, Mr. Anton
395     0.947242     0.0     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396     0.949640     1.0                               Colbert, Mr. Patrick
397     0.952038     0.0  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398     0.954436     1.0                     Larsson-Rondberg, Mr. Edvard A
399     0.956835     1.0                           Conlon, Mr. Thomas Henry
400     0.959233     0.0                            Bonnell, Miss. Caroline
401     0.961631     0.5                                    Gale, Mr. Harry
402     0.964029     0.0                     Gibson, Miss. Dorothy Winifred
403     0.966427     0.0                             Carrau, Mr. Jose Pedro
404     0.968825     0.0                       Frauenthal, Mr. Isaac Gerald
405     0.971223     0.5       Nourney, Mr. Alfred (Baron von Drachstedt")"
406     0.973621     0.5                          Ware, Mr. William Jeffery
407     0.976019     0.0                         Widener, Mr. George Dunton
408     0.978417     1.0                    Riordan, Miss. Johanna Hannah""
409     0.980815     1.0                          Peacock, Miss. Treasteall
410     0.983213     1.0                             Naughton, Miss. Hannah
411     0.985612     0.0    Minahan, Mrs. William Edward (Lillian E Thorpe)
412     0.988010     1.0                     Henriksson, Miss. Jenny Lovisa
413     0.990408     1.0                                 Spector, Mr. Woolf
414     0.992806     0.0                       Oliva y Ocana, Dona. Fermina
415     0.995204     1.0                       Saether, Mr. Simon Sivertsen
416     0.997602     1.0                                Ware, Mr. Frederick
417     1.000000     1.0                           Peter, Master. Michael J

        Sex       Age  SibSp     Parch              Ticket      Fare  \
0      male  0.452723  0.000  0.000000              330911  0.015282
1    female  0.617566  0.125  0.000000              363272  0.013663
2      male  0.815377  0.000  0.000000              240276  0.018909
3      male  0.353818  0.000  0.000000              315154  0.016908
4    female  0.287881  0.125  0.111111             3101298  0.023984
5      male  0.182382  0.000  0.000000                7538  0.018006
6    female  0.393380  0.000  0.000000              330972  0.014891
7      male  0.340630  0.125  0.111111              248738  0.056604
8    female  0.235131  0.000  0.000000                2657  0.014110
9      male  0.274693  0.250  0.000000           A/4 48871  0.047138
10     male       NaN  0.000  0.000000              349220  0.015412
11     male  0.604378  0.000  0.000000                 694  0.050749
12   female  0.301068  0.125  0.000000               21228  0.160574
13     male  0.828564  0.125  0.000000               24065  0.050749
14   female  0.617566  0.125  0.000000         W.E.P. 5734  0.119406
15   female  0.314256  0.125  0.000000       SC/PARIS 2167  0.054107
16     male  0.459317  0.000  0.000000              233734  0.024106
17     male  0.274693  0.000  0.000000                2692  0.014102
18   female  0.353818  0.125  0.000000    STON/O2. 3101270  0.015469
19   female  0.591191  0.000  0.000000                2696  0.014102
20     male  0.723065  0.125  0.000000            PC 17603  0.115941
21     male  0.116445  0.000  0.111111             C 17368  0.006189
22   female       NaN  0.000  0.000000            PC 17598  0.061842
23     male  0.274693  0.000  0.111111            PC 17597  0.119804
24   female  0.630753  0.125  0.333333            PC 17608  0.512122
25     male  0.657128  0.125  0.000000           A/5. 3337  0.028302
26   female  0.287881  0.000  0.111111              113509  0.120975
27     male  0.294474  0.000  0.000000                2698  0.014102
28     male  0.538441  0.000  0.000000              113054  0.059532
29     male       NaN  0.250  0.000000                2662  0.042315
..      ...       ...    ...       ...                 ...       ...
388    male  0.274693  0.000  0.000000              364858  0.015127
389    male  0.076883  0.375  0.111111              349909  0.041136
390    male  0.301068  0.000  0.000000               12749  0.182500
391  female  0.670315  0.000  0.111111            PC 17592  0.076904
392    male  0.169194  0.000  0.222222           C.A. 2673  0.039525
393    male  0.617566  0.000  0.000000          C.A. 30769  0.020495
394    male  0.380193  0.375  0.111111              315153  0.042990
395  female  0.235131  0.125  0.000000               13695  0.117112
396    male  0.314256  0.000  0.000000              371109  0.014151
397  female  0.630753  0.125  0.111111               13567  0.154588
398    male  0.287881  0.000  0.000000              347065  0.015176
399    male  0.406567  0.000  0.000000               21332  0.015094
400  female  0.393380  0.000  0.000000               36928  0.321798
401    male  0.498879  0.125  0.000000               28664  0.040989
402  female  0.287881  0.000  0.111111              112378  0.115941
403    male  0.221944  0.000  0.000000              113059  0.091933
404    male  0.564816  0.125  0.000000               17765  0.054107
405    male  0.261506  0.000  0.000000       SC/PARIS 2166  0.027058
406    male  0.301068  0.125  0.000000               28666  0.020495
407    male  0.657128  0.125  0.111111              113503  0.412821
408  female       NaN  0.000  0.000000              334915  0.015070
409  female  0.037320  0.125  0.111111  SOTON/O.Q. 3101315  0.026887
410  female       NaN  0.000  0.000000              365237  0.015127
411  female  0.485692  0.125  0.000000               19928  0.175668
412  female  0.367005  0.000  0.000000              347086  0.015176
413    male       NaN  0.000  0.000000           A.5. 3236  0.015713
414  female  0.512066  0.000  0.000000            PC 17758  0.212559
415    male  0.505473  0.000  0.000000  SOTON/O.Q. 3101262  0.014151
416    male       NaN  0.000  0.000000              359309  0.015713
417    male       NaN  0.125  0.111111                2668  0.043640

               Cabin Embarked      Year     Ship Movie Director
0                NaN        Q  0.326389  Titanic  James Cameron
1                NaN        S  0.972222  Titanic  James Cameron
2                NaN        Q  0.763889  Titanic  James Cameron
3                NaN        S  0.243056  Titanic  James Cameron
4                NaN        S  0.368056  Titanic  James Cameron
5                NaN        S  0.256944  Titanic  James Cameron
6                NaN        Q  0.041667  Titanic  James Cameron
7                NaN        S  0.805556  Titanic  James Cameron
8                NaN        C  0.729167  Titanic  James Cameron
9                NaN        S  0.423611  Titanic  James Cameron
10               NaN        S  0.673611  Titanic  James Cameron
11               NaN        S  0.243056  Titanic  James Cameron
12               B45        S  0.243056  Titanic  James Cameron
13               NaN        S  0.423611  Titanic  James Cameron
14               E31        S  0.131944  Titanic  James Cameron
15               NaN        C  0.458333  Titanic  James Cameron
16               NaN        Q  1.000000  Titanic  James Cameron
17               NaN        C  0.979167  Titanic  James Cameron
18               NaN        S  0.111111  Titanic  James Cameron
19               NaN        C  0.645833  Titanic  James Cameron
20               NaN        C  0.583333  Titanic  James Cameron
21               NaN        S  0.576389  Titanic  James Cameron
22               NaN        S  0.888889  Titanic  James Cameron
23               NaN        C  0.791667  Titanic  James Cameron
24   B57 B59 B63 B66        C  0.750000  Titanic  James Cameron
25               NaN        S  0.777778  Titanic  James Cameron
26               B36        C  0.826389  Titanic  James Cameron
27               NaN        C  0.069444  Titanic  James Cameron
28               A21        S  0.236111  Titanic  James Cameron
29               NaN        C  0.722222  Titanic  James Cameron
..               ...      ...       ...      ...            ...
388              NaN        Q  0.159722  Titanic  James Cameron
389              NaN        S  0.951389  Titanic  James Cameron
390              B24        S  0.111111  Titanic  James Cameron
391              D28        S  0.187500  Titanic  James Cameron
392              NaN        S  0.881944  Titanic  James Cameron
393              NaN        S  0.562500  Titanic  James Cameron
394              NaN        S  1.000000  Titanic  James Cameron
395              C31        S  0.388889  Titanic  James Cameron
396              NaN        Q  0.388889  Titanic  James Cameron
397              B41        C  0.256944  Titanic  James Cameron
398              NaN        S  0.486111  Titanic  James Cameron
399              NaN        Q  0.166667  Titanic  James Cameron
400               C7        S  0.194444  Titanic  James Cameron
401              NaN        S  0.736111  Titanic  James Cameron
402              NaN        C  0.868056  Titanic  James Cameron
403              NaN        S  0.458333  Titanic  James Cameron
404              D40        C  0.916667  Titanic  James Cameron
405              D38        C  0.527778  Titanic  James Cameron
406              NaN        S  0.833333  Titanic  James Cameron
407              C80        C  0.875000  Titanic  James Cameron
408              NaN        Q  0.298611  Titanic  James Cameron
409              NaN        S  0.388889  Titanic  James Cameron
410              NaN        Q  0.472222  Titanic  James Cameron
411              C78        Q  0.069444  Titanic  James Cameron
412              NaN        S  0.319444  Titanic  James Cameron
413              NaN        S  0.680556  Titanic  James Cameron
414             C105        C  0.118056  Titanic  James Cameron
415              NaN        S  0.847222  Titanic  James Cameron
416              NaN        S  0.465278  Titanic  James Cameron
417              NaN        C  0.034722  Titanic  James Cameron

[418 rows x 14 columns]

In [18]:
df = df[~np.isnan(df['Year'])]

In [19]:
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Year,Ship,Movie Director
0,0.000000,1.0,"Kelly, Mr. James",male,0.452723,0.000,0.000000,330911,0.015282,NaN,Q,0.326389,Titanic,James Cameron
1,0.002398,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,0.617566,0.125,0.000000,363272,0.013663,NaN,S,0.972222,Titanic,James Cameron
2,0.004796,0.5,"Myles, Mr. Thomas Francis",male,0.815377,0.000,0.000000,240276,0.018909,NaN,Q,0.763889,Titanic,James Cameron
3,0.007194,1.0,"Wirz, Mr. Albert",male,0.353818,0.000,0.000000,315154,0.016908,NaN,S,0.243056,Titanic,James Cameron
4,0.009592,1.0,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,0.287881,0.125,0.111111,3101298,0.023984,NaN,S,0.368056,Titanic,James Cameron
5,0.011990,1.0,"Svensson, Mr. Johan Cervin",male,0.182382,0.000,0.000000,7538,0.018006,NaN,S,0.256944,Titanic,James Cameron
6,0.014388,1.0,"Connolly, Miss. Kate",female,0.393380,0.000,0.000000,330972,0.014891,NaN,Q,0.041667,Titanic,James Cameron
7,0.016787,0.5,"Caldwell, Mr. Albert Francis",male,0.340630,0.125,0.111111,248738,0.056604,NaN,S,0.805556,Titanic,James Cameron
8,0.019185,1.0,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,0.235131,0.000,0.000000,2657,0.014110,NaN,C,0.729167,Titanic,James Cameron
9,0.021583,1.0,"Davies, Mr. John Samuel",male,0.274693,0.250,0.000000,A/4 48871,0.047138,NaN,S,0.423611,Titanic,James Cameron
10,0.023981,1.0,"Ilieff, Mr. Ylio",male,NaN,0.000,0.000000,349220,0.015412,NaN,S,0.673611,Titanic,James Cameron
11,0.026379,0.0,"Jones, Mr. Charles Cresson",male,0.604378,0.000,0.000000,694,0.050749,NaN,S,0.243056,Titanic,James Cameron
12,0.028777,0.0,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,0.301068,0.125,0.000000,21228,0.160574,B45,S,0.243056,Titanic,James Cameron
13,0.031175,0.5,"Howard, Mr. Benjamin",male,0.828564,0.125,0.000000,24065,0.050749,NaN,S,0.423611,Titanic,James Cameron
14,0.033573,0.0,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,0.617566,0.125,0.000000,W.E.P. 5734,0.119406,E31,S,0.131944,Titanic,James Cameron
15,0.035971,0.5,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,0.314256,0.125,0.000000,SC/PARIS 2167,0.054107,NaN,C,0.458333,Titanic,James Cameron
16,0.038369,0.5,"Keane, Mr. Daniel",male,0.459317,0.000,0.000000,233734,0.024106,NaN,Q,1.000000,Titanic,James Cameron
17,0.040767,1.0,"Assaf, Mr. Gerios",male,0.274693,0.000,0.000000,2692,0.014102,NaN,C,0.979167,Titanic,James Cameron
18,0.043165,1.0,"Ilmakangas, Miss. Ida Livija",female,0.353818,0.125,0.000000,STON/O2. 3101270,0.015469,NaN,S,0.111111,Titanic,James Cameron
19,0.045564,1.0,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,0.591191,0.000,0.000000,2696,0.014102,NaN,C,0.645833,Titanic,James Cameron
20,0.047962,0.0,"Rothschild, Mr. Martin",male,0.723065,0.125,0.000000,PC 17603,0.115941,NaN,C,0.583333,Titanic,James Cameron
21,0.050360,1.0,"Olsen, Master. Artur Karl",male,0.116445,0.000,0.111111,C 17368,0.006189,NaN,S,0.576389,Titanic,James Cameron
22,0.052758,0.0,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0.000,0.000000,PC 17598,0.061842,NaN,S,0.888889,Titanic,James Cameron
23,0.055156,0.0,"Williams, Mr. Richard Norris II",male,0.274693,0.000,0.111111,PC 17597,0.119804,NaN,C,0.791667,Titanic,James Cameron
24,0.057554,0.0,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,0.630753,0.125,0.333333,PC 17608,0.512122,B57 B59 B63 B66,C,0.750000,Titanic,James Cameron
25,0.059952,1.0,"Robins, Mr. Alexander A",male,0.657128,0.125,0.000000,A/5. 3337,0.028302,NaN,S,0.777778,Titanic,James Cameron
26,0.062350,0.0,"Ostby, Miss. Helene Ragnhild",female,0.287881,0.000,0.111111,113509,0.120975,B36,C,0.826389,Titanic,James Cameron
27,0.064748,1.0,"Daher, Mr. Shedid",male,0.294474,0.000,0.000000,2698,0.014102,NaN,C,0.069444,Titanic,James Cameron
28,0.067146,0.0,"Brady, Mr. John Bertram",male,0.538441,0.000,0.000000,113054,0.059532,A21,S,0.236111,Titanic,James Cameron
29,0.069544,1.0,"Samaan, Mr. Elias",male,NaN,0.250,0.000000,2662,0.042315,NaN,C,0.722222,Titanic,James Cameron
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,0.930456,1.0,"Canavan, Mr. Patrick",male,0.274693,0.000,0.000000,364858,0.015127,NaN,Q,0.159722,Titanic,James Cameron
389,0.932854,1.0,"Palsson, Master. Paul Folke",male,0.076883,0.375,0.111111,349909,0.041136,NaN,S,0.951389,Titanic,James Cameron
390,0.935252,0.0,"Payne, Mr. Vivian Ponsonby",male,0.301068,0.000,0.000000,12749,0.182500,B24,S,0.111111,Titanic,James Cameron
391,0.937650,0.0,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,0.670315,0.000,0.111111,PC 17592,0.076904,D28,S,0.187500,Titanic,James Cameron
392,0.940048,1.0,"Abbott, Master. Eugene Joseph",male,0.169194,0.000,0.222222,C.A. 2673,0.039525,NaN,S,0.881944,Titanic,James Cameron
393,0.942446,0.5,"Gilbert, Mr. William",male,0.617566,0.000,0.000000,C.A. 30769,0.020495,NaN,S,0.562500,Titanic,James Cameron
394,0.944844,1.0,"Kink-Heilmann, Mr. Anton",male,0.380193,0.375,0.111111,315153,0.042990,NaN,S,1.000000,Titanic,James Cameron
395,0.947242,0.0,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,0.235131,0.125,0.000000,13695,0.117112,C31,S,0.388889,Titanic,James Cameron
396,0.949640,1.0,"Colbert, Mr. Patrick",male,0.314256,0.000,0.000000,371109,0.014151,NaN,Q,0.388889,Titanic,James Cameron
397,0.952038,0.0,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,0.630753,0.125,0.111111,13567,0.154588,B41,C,0.256944,Titanic,James Cameron
398,0.954436,1.0,"Larsson-Rondberg, Mr. Edvard A",male,0.287881,0.000,0.000000,347065,0.015176,NaN,S,0.486111,Titanic,James Cameron
399,0.956835,1.0,"Conlon, Mr. Thomas Henry",male,0.406567,0.000,0.000000,21332,0.015094,NaN,Q,0.166667,Titanic,James Cameron
400,0.959233,0.0,"Bonnell, Miss. Caroline",female,0.393380,0.000,0.000000,36928,0.321798,C7,S,0.194444,Titanic,James Cameron
401,0.961631,0.5,"Gale, Mr. Harry",male,0.498879,0.125,0.000000,28664,0.040989,NaN,S,0.736111,Titanic,James Cameron
402,0.964029,0.0,"Gibson, Miss. Dorothy Winifred",female,0.287881,0.000,0.111111,112378,0.115941,NaN,C,0.868056,Titanic,James Cameron
403,0.966427,0.0,"Carrau, Mr. Jose Pedro",male,0.221944,0.000,0.000000,113059,0.091933,NaN,S,0.458333,Titanic,James Cameron
404,0.968825,0.0,"Frauenthal, Mr. Isaac Gerald",male,0.564816,0.125,0.000000,17765,0.054107,D40,C,0.916667,Titanic,James Cameron
405,0.971223,0.5,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,0.261506,0.000,0.000000,SC/PARIS 2166,0.027058,D38,C,0.527778,Titanic,James Cameron
406,0.973621,0.5,"Ware, Mr. William Jeffery",male,0.301068,0.125,0.000000,28666,0.020495,NaN,S,0.833333,Titanic,James Cameron
407,0.976019,0.0,"Widener, Mr. George Dunton",male,0.657128,0.125,0.111111,113503,0.412821,C80,C,0.875000,Titanic,James Cameron
408,0.978417,1.0,"Riordan, Miss. Johanna Hannah""""",female,NaN,0.000,0.000000,334915,0.015070,NaN,Q,0.298611,Titanic,James Cameron
409,0.980815,1.0,"Peacock, Miss. Treasteall",female,0.037320,0.125,0.111111,SOTON/O.Q. 3101315,0.026887,NaN,S,0.388889,Titanic,James Cameron
410,0.983213,1.0,"Naughton, Miss. Hannah",female,NaN,0.000,0.000000,365237,0.015127,NaN,Q,0.472222,Titanic,James Cameron
411,0.985612,0.0,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,0.485692,0.125,0.000000,19928,0.175668,C78,Q,0.069444,Titanic,James Cameron
412,0.988010,1.0,"Henriksson, Miss. Jenny Lovisa",female,0.367005,0.000,0.000000,347086,0.015176,NaN,S,0.319444,Titanic,James Cameron
413,0.990408,1.0,"Spector, Mr. Woolf",male,NaN,0.000,0.000000,A.5. 3236,0.015713,NaN,S,0.680556,Titanic,James Cameron
414,0.992806,0.0,"Oliva y Ocana, Dona. Fermina",female,0.512066,0.000,0.000000,PC 17758,0.212559,C105,C,0.118056,Titanic,James Cameron
415,0.995204,1.0,"Saether, Mr. Simon Sivertsen",male,0.505473,0.000,0.000000,SOTON/O.Q. 3101262,0.014151,NaN,S,0.847222,Titanic,James Cameron
416,0.997602,1.0,"Ware, Mr. Frederick",male,NaN,0.000,0.000000,359309,0.015713,NaN,S,0.465278,Titanic,James Cameron
417,1.000000,1.0,"Peter, Master. Michael J",male,NaN,0.125,0.111111,2668,0.043640,NaN,C,0.034722,Titanic,James Cameron